@charset "UTF-8";

/*===========import=============*/
@import url('clearfix.css');
@import url('reset.css');

/*===========Selected Text=============*/
::selection {
	background: #df91ad; /* Safari */
}
::-moz-selection {
	background: #df91ad; /* Firefox */
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 100%;
	/* font-size: 16px; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Top view */
body.top {
	background-color: #192735;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}
/* Noise on top view */
body.top:after {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: '';
	background-image: url(../img/noise.gif);
	opacity: 0.06;
	z-index: 100000;
	pointer-events: none;
}
body.top.on:after {
	background-image: none;
}

/* Noise on detalis view */
body.detail {
	background-color: #192735;
}
body.detail:after {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: '';
	background-image: url(../img/noise.gif);
	opacity: 0.05;
	z-index: 10;
}

.gradient-bg {
	background: linear-gradient(0deg, #0a0a1b 50%, #120d49);
}

/***************************************************** Curosel */
#cursel {
	position: fixed;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;
	width: 100%;
}

/***************************************************** Center images */
.cursel-center-img {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 50%;
	width: auto;
	z-index: 5;
	opacity: 0;
	/* opacity: 1; */
	transform: translateY(-50%) skewX(-10deg);
}
.cursel-center-img.load {
	opacity: 1;
	transform: translateY(-50%) translateX(-10vw);
}
.cursel-center-img img {
	position: absolute;
	height: 100%;
	min-width: 30%;
}
.cursel-center-img-before img {
	opacity: 1;
	visibility: visible;
	z-index: 5;
}
.cursel-center-img-after img {
	opacity: 0;
	visibility: hidden;
	z-index: 4;
}
/* On hover */
body.on .cursel-center-img-before img {
	opacity: 0;
	visibility: hidden;
	transform: /*skewY(2deg)*/ scale(1.1);
	/* -webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px); */
}
body.on .cursel-center-img-after img {
	opacity: 1;
	visibility: visible;
	transform: /*skewY(2deg)*/ scale(1.1);
}

/***************************************************** Cursel titles */
.cursel-up h2,
.cursel-center h2,
.cursel-down h2 {
	position: absolute;
	left: 15%;
	line-height: 100%;
	/* font-size: 12vh; */
	font-size: 6vw;
	font-weight: 800;
	font-style: normal;
}

/***************************************************** Up title */
.cursel-up h2 {
	top: -25%;
	z-index: 4;
	opacity: 0;
	color: transparent;
	-webkit-text-stroke: 1px #4f5861;
	/* transform: skew(-20deg, -20deg); */
}
.cursel-up h2.load {
	opacity: 1;
	/* top: -5%; */
	transform: translateY(75%);
	/* transform: skew(0deg, 0deg); */
}
/* On mouse hover */
body.on .cursel-up h2 {
	/* top: -25%; */
	opacity: 0;
	transform: translateY(0);
}

/***************************************************** Center title */
.cursel-center-title h2 {
	top: 50%;
	opacity: 0;
	/* opacity: 1; */
	letter-spacing: 20px;
	transform: translateY(-50%) translateX(-50%);
}
.cursel-center-title h2.load {
	opacity: 1;
	letter-spacing: 0px;
	transform: translateY(-50%);
}
.cursel-center-title-base h2 {
	color: rgba(255, 255, 255, 0.9);
	z-index: 4;
}
.cursel-center-title-outline h2 {
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	z-index: 7;
}
/* On mouse hover */
body.on .cursel-center-title h2 {
	transform: translateY(-30%) scale(1.15);
}

/***************************************************** Down title */
.cursel-down h2 {
	bottom: -25%;
	z-index: 4;
	opacity: 0;
	color: transparent;
	-webkit-text-stroke: 1px #4f5861;
	/* transform: skew(-20deg, 20deg); */
}
.cursel-down h2.load {
	opacity: 1;
	transform: translateY(-75%);
	/* transform: skew(0deg, 0deg); */
}
/* On mouse hover */
body.on .cursel-down h2 {
	opacity: 0;
	/* bottom: -25%; */
	transform: translateY(0);
}

/***************************************************** Count */ /* MORAM MALO SREDITI !!! */
#count {
	position: fixed;
	top: 70%;
	left: 30vw;
	color: rgba(255, 255, 255, 0.9);
	opacity: 0;
	/* opacity: 1; */
	font-size: 1.5vw;
}
#count-num {
	font-size: 1.7vw;
}
#max-num {
	font-size: 0.9vw;
}
#count.load {
	opacity: 1;
	transform: translateX(-20vw);
}

/*************************************************** Animations */
#count,
.cursel-up h2,
.cursel-down h2,
.cursel-center-title h2,
.cursel-center-img {
	-moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.cursel-center-img img {
	-moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/*************************************************** Cursel nimations */
/* Position center elements */
#cursel.stop.up .cursel-center-title h2 {
	opacity: 0;
	/* transform: translateY(-200%); */
	transform: translateY(-50vh);
}
#cursel.stop.down .cursel-center-title h2 {
	opacity: 0;
	transform: translateY(50vh);
}

/* Position up elements */
#cursel.stop.up .cursel-up h2 {
	transform: translateY(0);
}
#cursel.stop.down .cursel-up h2 {
	color: rgba(255, 255, 255, 0.75);
	transform: translateY(50vh);
}

/* Position down elements */
#cursel.stop.up .cursel-down h2 {
	color: rgba(255, 255, 255, 0.75);
	transform: translateY(-50vh);
}
#cursel.stop.down .cursel-down h2 {
	transform: translateY(0);
}

/* Stop all animations */
#cursel.stop .cursel-center-title h2,
#cursel.stop .cursel-up h2,
#cursel.stop .cursel-down h2 {
	transition: all 0s 0s !important;
}

/* Start all transations */
#cursel.start .cursel-center-title h2,
#cursel.start .cursel-up h2,
#cursel.start .cursel-down h2 {
	transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}
